---
layout: page
title: Home
order: 1
---

{% capture index %}
Hi! I'm a Computer Science graduate from the University of Cambridge eager to get into either the video game industry or software engineering.

I have experience with:
- Software development in Python, C++ and Java
- Game development in Unity, Python (and Scratch!)
- Web Development with Python (Django, Flask) and Javascript (React, Svelte)
- Industry tools such as git, GitHub and Unix CLIs

[CV]({{ site.baseurl }}/download/Joshua Pollick Resume.pdf){:target="_blank"}

## Hobbies
I also
- Play the guitar, with a preference for finger-picking acoustic styles
- Love TTRPGs, and play-tested and balanced mechanics for CURTS' in-house game "Totally Normal High School"
- Play video games (no surprises there!), including in the NUEL and NSE university tournaments
- Have commentated some video game tournament matches, including the Overwatch 2 Cambridge vs Oxford varsity matches at [the Red Bull Gaming Sphere in 2023](https://youtu.be/JvjkFmFBgZ4) and [Insomnia Gaming Festival in 2024](https://www.twitch.tv/videos/2127447965)
- Have BCU 3* White Water certification
{% endcapture %}

{{index | markdownify}}

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

{% if paginator.next_page or paginator.previous_page %}
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
{% endif %}