.sidebar-image 
{
  display: none;
}

.spacer
{
    flex-grow: 1
}

@media (min-width: 48em) {
  .sidebar-image {
    flex-shrink: 1;
    min-height: 160px;
    max-height: 260px;
    display: block;
  }

  .sidebar-image img {
    border-radius: 50%;
    height: 100%;
    width: auto;
    max-height: 600px;
    margin: auto;
  }

  .container {
    display:flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
  }
}

.social-links {
    font-size: 2em;
    display: flex;
    justify-content: center;
    gap: .5em;
}

.social-links a img {
    width: 1em;
    height: 1em;
    margin: 25% 0;
}

.social-links a {
    color: rgba(255, 255, 255, .25);
    transition: color 300ms ease, margin-top 300ms ease;
}

.social-links a:hover {
    color: rgba(255, 255, 255, .75);
}

/*.social-links a .itch {
    transition: background-color 300ms ease, margin-top 300ms ease;
    background-color: rgba(255, 255, 255, .25);
}

.social-links a:hover .itch {
    background-color: rgba(255, 255, 255, .75);
}*/


@media (min-width: 48em) {
  .content {
    max-width: calc(100% - 26em);
  }
}

.toc ul {
  margin-bottom: 0px;
}

.sidebar-image:hover ~ .sidebar-about a {
  text-decoration: underline;
}

.project-links a {
  margin-right: .75rem;
}

.project-images {
  max-width: 50%;
  margin: 0 auto;
}

.project-skill {
  margin-bottom: 0;
}

.page, .post {
  max-width: 45em;
  margin: 0 auto;
}

.itch-io
{
  width: 1em;
  height: 1em;
  mask: url('/public/icons/itch.svg') no-repeat center;
  mask-size: contain;
  background-color: currentColor;
  transform: translate(0, .125em);
  display: inline-block;
}

.nexus-mods
{
  width: 1em;
  height: 1em;
  mask: url('/public/icons/nexus.svg') no-repeat center;
  mask-size: contain;
  mask-mode: luminance;
  background-color: currentColor;
  transform: translate(0, .125em);
  display: inline-block;
}

.sidebar-nav-subitem
{
  margin-top: -.75em;
}

.sidebar-nav-subitem a
{
  color: #fff6;
}

@media (min-width: 48em)
{
  .sidebar-nav-subitem
  {
    margin-left: 2em;
    margin-top: -.5em;
  }

  .sidebar-nav-subitem a
  {
    color: #fff;
  }
}

.sidebar-nav-item.active
{
  pointer-events: none;
}

.image-float-margin
{
  position: fixed;
  left: 0;
  top: 0;
  background-color: #5557;
  width: 100vw;
  height: 100vh;
  float: left;
  align-content: center;
  cursor:pointer;
}

.image-float-container
{
  width: 90vw;
  height: 90vh;
  margin: auto;
}

.image-float
{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.no-display
{
  display: none !important;
}