---
layout: full-page
title: Projects
order: 2
---

<style>
.project-category
{
    display: grid;
    gap: 20px;
}

@media (min-width: 82em)
{
    .project-category
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 106em)
{
    .project-category
    {
        grid-template-columns: repeat(3, 1fr);
    }
}

.project
{
    border-color: gray;
    border-radius: 10px;
    border-width: thin;
    border-style: solid;
}

/* .project:hover .project-img
{
    max-height: 100%;
}

.project:hover .project-img img
{
    border-radius: 0;
} */

.project-img
{
    margin: 5px 5px 0 5px;
    max-height: 200px;
    /* overflow: hidden;
    transition: max-height 0.4s ease; */
    display: flex;
}

/* .project-img img
{
    transition: border-radius 0.4s linear;
} */

.project a
{
    display: flex;
    margin: 0 auto;
}

.project img
{
    /*width: 100%;
    height: 100%;
    object-fit: cover;*/
    object-fit: contain;
    margin: 0 auto;
}

.project h3
{
    margin: 0;
    align-self: center
}

.project-img:hover ~ .project-details h3 a {
  text-decoration: underline;
}

.project-details
{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.project-details p
{
    margin: 0;
}

.project-details #date
{
    align-self: center;
}

.project-details #techs
{
    padding: 0 10px;
    color:gray;
    line-height: 1;
    font-size: 14px;
    text-align: center;
    align-self: center;
    margin-bottom: .6em;
}

.project-details #description
{
    padding: 0 10px;
    line-height: 1.3;
}

.project-details #description a
{
    display: inline;
}
</style>

{% assign pages = site.projects | group_by_exp: "page", "page.path | split: '/' | slice: 1 | first" %}
{% assign category_order = "Games,Game Related,Other" | split: "," %}

{% for cat_name in category_order %}
    {% assign cat = pages | where: "name", cat_name | first %}
    {% assign extra = site.pages | where: "project_category", cat_name %}
    <h2>{{ cat.name }}</h3>
    {% assign cat_items = cat.items | concat: extra | sort: "date", "last" | reverse %}
    <div class="project-category">
    {% for page in cat_items %}
        {% if page.hide != true %}
        <div class="project">
            {% if page.external_preview %}
            {% assign imgpath = page.external_preview %}
            {% assign display_img = true %}
            {% else %}
            {% assign title = page.path | split: '/' | last | split: '.' | first %}
            {% assign imgpath = site.baseurl | append: "/public/images/projects/previews/" | append: title | append: ".webp" %}
            {% assign file = site.static_files | where: "path", imgpath | first %}
            {% assign display_img = file %}
            {% endif %}
            <div class="project-img">
                {% if display_img %}
                <a href="{{ page.url }}"><img src = "{{ site.baseurl }}{{ imgpath }}"></a>
                {% endif %}
            </div>
            <div class="project-details">
                <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
                {% unless page.hidedate or page.date == false or page.date == nil %}
                <p id="date">{{ page.date | date_to_string | split: " " | slice: 1, 2 | join: " " }}</p>
                {% endunless %}
                <p id="techs">{{ page.languages | concat: page.technologies | join: ", " }}</p>
                {% unless description %}
                <br>
                {% endunless %}
                <p id="description">{{ page.description | markdownify | remove_first: "<p>" | remove_last: "</p>" }}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endfor %}