<div class="sidebar">
  <div class="container">
    <div class="sidebar-image">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/public/images/ProfileIcon.webp">
      </a>
    </div>
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <div class="spacer"></div>
    <nav class="sidebar-nav">
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a> -->

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <!-- {% assign pages_list = site.pages | sort:"order" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" or node.layout == "full-page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %} -->
      {% assign base_url = site.baseurl | append: "/" %}
      {% assign index_list = site.pages | where:"url",base_url %}
      {% assign pages_list = index_list | concat: site.sidebar | sort:"order" %}
      {% for node in pages_list %}
        {% if node.title != null %}
        {% if node.hide != true %}
          {% assign filtered_url = page.url | slice:0, node.url.size %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% if filtered_url == node.url and filtered_url.size > 2 and node.url.size < page.url.size %}
            <a class="sidebar-nav-item sidebar-nav-subitem active" href="{{ page.url }}">{{ page.title }}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <div style="flex-grow: 3"></div>
    <nav class="social-links">
      <a href="mailto:Sm9zaHVhLlBvbGxpY2tAd2Fyd2ljay5hYy51aw==" title="Mail" data-decode="email"><i class="bi bi-envelope"></i></a>
      <a href="https://github.com/Hypersycos" title="Github"><i class="bi bi-github"></i></a>
      <a href="https://www.linkedin.com/in/joshua-pollick/" title="LinkedIn"><i class="bi bi-linkedin"></i></a>
      <a href="https://hypersycos.itch.io/" title="Itch.io"><div class="itch"></div></a>
      <script>
        function decodeStringBase64() {
          // Grab Reply by email link tag
          let elemsToDecode = document.querySelectorAll('[data-decode="email"]');
          // For each link found
          elemsToDecode.forEach(function(elem) {
            // Grab href data
            let hrefData = elem.href;
            // Split the href data after the colon
            let splitData = hrefData.split(/[:,]/);
            // Decode the second item in the array
            let decodedString = atob(splitData[1]);
            // Dump encodedString and “mailto:” in href
            elem.href = 'mailto:' + decodedString;
          });
        }
        // Make the function call
        decodeStringBase64();
      </script>
    </nav>
  </div>
</div>
